@import '../../../../../app/shared/components/global-style/_general';
@import '../../../../../styles.scss';
.details {
  
  // padding: 3rem 1rem;
  padding: 3rem 0rem;
  margin-top: 1rem;
  @include flex(column, space-between, stretch, 5rem, nowrap);
  header {
    .arrowRes{
    display: none;
  }
    padding: 10px;
    text-align: center;
    .process {
      text-align: center;
      ul {
        @include flex(row, space-around, center, 1.5rem, nowrap);
        position: relative;
        // width: 50%;
        margin: 0rem auto;
        li {
          list-style: none;
          z-index: 10;
          &.pack {
            .pr::after {
              content: "";
              position: absolute;
              width: 23.5%;
              top: 50%;
              height: 5px;
              background-color: #dadce3;
              margin: 0rem auto;
            }
            &:last-child {
              ::after {
                width: 0px;
                height: 0px;
              }
            }
            //opacity: 0.5;

            .custom-icon {
              fill: #dadce3;
            }
            i {
              color: #dadce3;
              font-size: 24px;

              // opacity: 40%;
            }

            p.text {
              font-size: 14px;
              font-weight: 600;
              color: $text-co;
            }
          }

          &.active {
            .pr::after {
              content: "";
              position: absolute;
              width: 23.5;
              top: 50%;
              height: 5px;
              background-color: $main-co;
              margin: 0rem auto;
            }
            .custom-icon {
              fill: $main-co;
            }
            i {
              color: $main-co;
              font-size: 24px;

              // opacity: 40%;
            }

            p.text {
              font-size: 14px;
              font-weight: 600;
              color: $main-co;
            }
          }
        }
      }
    }
    // ul {
    //   @include flex(row, space-between, center, 2rem, nowrap);
    //   position: relative;
    //   width: 50%;
    //   margin: 0rem auto;
    //   li {
    //     &.pack {
    //       .pr::after {
    //         content: "";
    //         position: absolute;
    //         width: 26%;
    //         top: 50%;
    //         height: 5px;
    //         background-color: #dadce3;
    //         margin: 0rem auto;
    //       }
    //       //opacity: 0.5;

    //       .custom-icon {
    //         fill: #dadce3;
    //       }
    //       i {
    //         color: #dadce3;
    //         font-size: 24px;

    //         // opacity: 40%;
    //       }

    //       p.text {
    //         font-size: 14px;
    //         font-weight: 600;
    //         color: $text-co;
    //       }
    //     }
    //     &.active {
    //       .pr::after {
    //         content: "";
    //         position: absolute;
    //         width: 26%;
    //         top: 50%;
    //         height: 5px;
    //         background-color: $main-co;
    //         margin: 0rem auto;
    //       }
    //       .custom-icon {
    //         fill: $main-co;
    //       }
    //       i {
    //         color: $main-co;
    //         font-size: 24px;

    //         // opacity: 40%;
    //       }

    //       p.text {
    //         font-size: 14px;
    //         font-weight: 600;
    //         color: $main-co;
    //       }
    //     }
    //     &:last-child {
    //       ::after {
    //         width: 0px;
    //         height: 0px;
    //       }
    //     }

    //     list-style: none;
    //   }
    // }
  }

  //*____content_____
  .content {
    .productInfo{
      display: none;
     }
    @include flex(row, flex-start, flex-end, 3rem, wrap);

    .detailsInfo {
      width: 48%;
      @include flex(column, flex-start, flex-start, 1rem, nowrap);
      h5 {
        color: #3d3d3d;
      }

      .photo {
        width: fit-content;
        @include flex(row, flex-start, center, 0.3rem, nowrap);
        div {
          width: fit-content;
          // border: 1px solid #dadce3;
          // border-radius: 0.2rem;
          img {
            display: inline-block;
            margin: 0rem 0.5rem;
            width: 77px;
            height: 115px;
          }
        }
      }

      ol.orderinfo {
        @include flex(column, flex-start, stretch, 0.5rem, nowrap);
        width: 100%;
        > li {
          @include flex(row, space-between, center, 0.5rem, nowrap);
          strong {
            //width: 30%;
            text-align: left;
            white-space: nowrap;
            color: #3d3d3d;
          }
          // span {
          //  // width: 78%;
          //   //text-align: right;
          // }
        }
      }
    }

    //payment
    .paymentInfo {
      width: 45%;
      @include flex(column, flex-start, flex-start, 0.5rem, nowrap);
      h5 {
        color: #3d3d3d;
        margin-bottom: 0.5rem;
      }
      .photo {
        width: fit-content;
        @include flex(row, flex-start, center, 0.3rem, nowrap);
        div {
          width: fit-content;
          // border: 1px solid #dadce3;
          // border-radius: 0.2rem;
          img {
            display: inline-block;
            margin: 0rem 0.5rem;
            width: 77px;
            height: 115px;
          }
        }
      }
      ul {
        width: 100%;
        @include flex(column, flex-start, stretch, 0.5rem, nowrap);
        > li {
          @include flex(row, space-between, center, 0.5rem, nowrap);
          strong {
           // width: 30%;
            text-align: left;
            white-space: nowrap;
            color: #3d3d3d;
          }
          // span {
          //   // width: 78%;
          //   // text-align: center;
          // }
        }
        .total {
          margin-top: 0.3rem;
          padding: 0.5rem 0rem;
          strong {
            color: $main-co;
          }
          span {
            color: $main-co;
            font-weight: 800;
          }
        }
      }
    }
  }
  .btnfeed {
    @include flex(row, flex-end, stretch, 1rem, nowrap);
  }
}

@media (max-width: 768px) {
  .details {
    padding: 0rem;
    margin-top: 0rem;
    @include flex(column, space-between, center, 1rem, nowrap);
    header {
      .arrowRes{
        @include flex(row, space-between, flex-start, .5rem, nowrap);
        i{font-size: 1.5rem;}
        padding: .5rem;
    }
      width: 100%;
      .process {
        ul {
          li {
            &.pack {
              .pr::after {
                width: 21%;
              }
              &:last-child {
                ::after {
                  width: 0px;
                  height: 0px;
                }
              }
              //opacity: 0.5;
            }

            &.active {
              .pr::after {
                width: 21%;
              }
            }
          }
        }
      }
    }

    .content {
     .productInfo{
      display: block;
      width: 95%;
      .imgfex{
        @include flex(row, flex-start, flex-start, 0.3rem, nowrap);
        border: 1px solid $border-co;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
      .photo {
        
        width: fit-content;
        @include flex(row, flex-start, center, 0.3rem, nowrap);
        
          img {
            display: inline-block;
            margin: 0rem 0.5rem;
            width: 77px;
            height: 115px;
            border-radius:5px;
            -webkit-border-radius:5px;
            -moz-border-radius:5px;
            -ms-border-radius:5px;
            -o-border-radius:5px;
}
        
      }
    .price{color:$main-co;
    }
    .name{
      font-size: 18px;
      font-weight: 700;
    }
    .color{
      color:$text-co;
    }
    }
     }
        @include flex(row, center, flex-end, 1.5rem, wrap);
        h5{
          font-weight: 700;
        }
      .detailsInfo {
        width: 100%;
        ol.orderinfo {
          > li {
            // strong {
            // }
            span {
              text-align: right;
            }
          }
        }
      }

      .paymentInfo {
        width: 95%;
        ul{
          border: 1px solid $border-co;
        border-radius: 5px;
        padding: 1rem;
        }
        .hea{ font-size: 16px;
          font-weight: 600; }
        .photo {
          display: none;
        }
      }
    }
  }
}