<div class="logindialog" *ngIf="showMe">
  <div class="close" >
    <div class="back"><i class="bi bi-chevron-left" (click)="BackBtn()"></i>{{'Back'|translate}}</div>
    <div><i class="bi bi-x-lg" (click)="closelogin()"></i></div>
  </div>
  <section class="loginsec">
    <form *ngIf="forgetForm" [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
      <div class="text-center mt-4">
        <h5>{{'Forgotyourpassword'|translate}}</h5>

        <img src="../../../assets/images/svg/forgetpass.png" class="text-center mt-4" />
        <p class="mt-4">
          {{'PleaseEnteryouremailaddress'|translate}}<br />
          {{'toreceiveaverification'|translate}}
        </p>
      </div>
      <label for="floatingEmail" class="mt-3">{{'email'|translate}}</label>
      <input type="email" [class.is-invalid]="
          forgetForm.get('email')?.invalid && forgetForm.get('email')?.touched
        " formControlName="email" class="form-control mt-2" id="floatingEmail" placeholder="" />

      <div *ngIf="forgetForm.get('email')?.errors?.['required']||forgetForm.get('email')?.errors?.['email']"
        class="invalid-feedback">
        {{'Emailisrequired'|translate}}
      </div>
      <div class="text-center mt-4">
        <button class="btn-orangeLarge" [disabled]="forgetForm.invalid" type="submit" style="margin-bottom :50px;">
          {{'SIGNIN'|translate}}
        </button>
      </div>
    </form>
  </section>
  <p-toast></p-toast>
</div>
