<section class="container-fluid orders">
  <div class="row1"> 
    <i class="bi bi-arrow-right" routerLink="/profileRes"  *ngIf="!_auth.isValueEn.value"></i>
    <i class="bi bi-arrow-left" routerLink="/profileRes" *ngIf="_auth.isValueEn.value"></i>
  <h4>{{'orders'|translate}}</h4></div>
  <h4 class="res">{{'orders'|translate}}</h4>
  <p-breadcrumb class="max-w-full" [model]="items" class="responsive"></p-breadcrumb>
  <div class="content">
    <!-- Not Found Order -->
    <div class="notFound" *ngIf="allOrder?.length == 0">
      <blockquote>
        <img src="/assets/images/profile/order/boxs.png" alt="" />
      </blockquote>

      <h5>{{'youHaveNoPreviousOrders'|translate}}</h5>
      <p>
        {{'noOrderHint'|translate}}
      </p>

      <button class="btn btn-base-orange" routerLink="/">
        {{'continueShopping'|translate}}
      </button>
    </div>

    <!-- Normal Order routerLink="openOrders"-->
    <div class="allOrders" *ngIf="allOrder?.length > 0">
       <header  [ngClass]="{'btn-controlsEn':_auth.isValueEn.value,'btn-controlsAr':!_auth.isValueEn.value}" class="resweb">
        <button [ngClass]="{ 'btn-base-orange': showOrderSt == 'all' }" class="btn btn-light"
          (click)="showOrders('all')">
          {{'all'|translate}}
        </button>

        <button [ngClass]="{ 'btn-base-orange': showOrderSt == 'active' }" class="btn btn-light"
          (click)="showOrders('active')">
          {{'active'|translate}}
        </button>
        <button [ngClass]="{ 'btn-base-orange': showOrderSt == 'completed' }" class="btn btn-light"
          (click)="showOrders('completed')">
          {{'completed'|translate}}
        </button>

        <button [ngClass]="{ 'btn-base-orange': showOrderSt == 'cancel' }" class="btn btn-light"
          (click)="showOrders('cancel')">
          {{'canceled'|translate}}
        </button>
      </header>
      <div class="res">
        <blockquote>
            <div
              class="btnt active"
              appButtons
              
              (selectedId)="showOrders('all')"
              [appCustomDirective]="'.btnt'"
            >
            {{'all'|translate}}
            </div>
           
            <div
              class="btnt"
              appButtons
              
              [appCustomDirective]="'.btnt'"
              (selectedId)="showOrders('active')" 
            >
            {{'active'|translate}}
            </div>
            <div
              class="btnt"
              appButtons
              
              [appCustomDirective]="'.btnt'"
              (selectedId)="showOrders('completed')" 
            >
            {{'completed'|translate}}
            </div>
            <div
            class="btnt"
            appButtons
            
            [appCustomDirective]="'.btnt'"
            (selectedId)="showOrders('cancel')" 
          >
          {{'canceled'|translate}}
          </div>
            </blockquote>
            
      
    </div> 
      <!-- *______open orders _____ -->
      <div>
        <!-- <app-open-orders [Orders]="Orders"></app-open-orders> -->
        <ul class="listOrders">
          <li *ngFor="let order of showOpenOrder; index as i">
            <!-- <header>
              <div class="imgfex">
               
                <div *ngFor="let itm of order?.items">
               <img [src]="_auth.productImage(itm.product_details?.product_images)" alt="order photo">
              
                </div>
              </div>



              <blockquote class="info">
                <h6>{{'OrderN'|translate}}:{{ order?.id}}
                </h6>

                <p>{{'orderAt'|translate}} {{order?.address?.address}}
                {{'between'|translate}} {{order?.min_delivery_date|date }} 
              {{'to'|translate}}{{order?.max_delivery_date|date }}</p>
              </blockquote>
            </header>

            <ol class="body">
              <li>
                <h6>{{'orderStatus'|translate}}</h6>
                <span class="in-deliver"> {{order?.status}}</span>
              </li>

              <li>
                <h6>{{'items'|translate}}</h6>
                <span>{{order?.items?.length}} {{'itemsPurchased'|translate}}</span>
              </li>

              <li>
                <h6>{{'price'|translate}}</h6>
                <span class="price">{{order?.total|currency:"ILS"}}</span>
              </li>
            </ol>
            <button class="btn btn-base-orange" [routerLink]="['orderDetails',order?.id]">
              {{'details'|translate}}
            </button> -->
            <div class="order">
    <div class="orderNum">
        {{'ordernumber'|translate}}:{{order.id}}</div>
        <div class="items" *ngFor="let itm of order?.items">
          <div class="imgCon">
            <img [src]="_auth.productImage(itm.product_details?.product_images)" alt="order photo"></div>
            <div class="productName">
             <span>{{itm?.product_name}}</span>
             <span> </span>
             <div class="row2"> 
                <div *ngIf="itm?.product_details.options.length>0">
                <div *ngFor="let op of itm?.product_details.options">
                {{op.name}} : {{op.values[0].value}}
              </div>
            </div>
            </div>
            </div>
            <div>
                {{'Units'|translate}}:<span class="price">{{itm.quantity}}</span>
            </div>
            <div >
           <div> <span >{{'unitPrice'|translate}}</span> <span class="price"> {{
                itm.total_price 
              }}{{currency}}</span></div>
            <div class="subTotal">{{'subTotal'|translate}} ( {{itm?.count}} {{'items'|translate}} )  :  {{cartSer.calculateTotalCountItemPrice(itm?.count,itm?.price) }}{{currency}}
                
            </div>  
            </div>
        </div>
        <div class="row3">
          <div class="sec1">
         <div class="orderStatus">
            <span>{{'orderStatus'|translate}}:</span>
              <div
             
              [ngClass]="{
                'btn-Pending1': order?.status == 'Pending',
                'btn-Delivered1': order?.status == 'Success',
                'btn-Delivery1': order?.status == 'In-Delivery',
                'btn-Arriving1': order?.status == 'Arriving',
                'btn-Canceled1': order?.status == 'Canceled'
              }"
            >
              {{ order?.status }}
           </div> 
          </div>
           <div class="mt-2">
              <span >{{'OrderDate'|translate}} : </span>
              <span>{{order.updated_at| date : "dd/MM/yyyy" }}</span>
            </div>  
           </div>
           <div class="sec1">
            <div class="orderStatus">
              <span >{{'orderTotal'|translate}}:</span>
              <span class="price">{{order?.total}}{{currency}}</span>
            </div>
             <!-- <div class="ShippingCost">
                <span>{{'ShippingCost'|translate}} : </span>
                <span>{{order.order?.shipping_cost|currency:"ILS"}}</span>
              </div> -->
              <!-- <div>
                <strong>{{'TotalPrice'|translate}} : </strong>
                <span class="total">{{_auth.getsum(+order?.total,+order?.shipping_cost)|currency:"ILS"}}</span>
              </div> -->
            </div>
        </div>
        <!-- <div class="footer"> <button  class="btn btn-orang mt-4" routerLink="orderDetails">
          {{'details'|translate}} 
         </button></div> -->
       
    </div>
          </li>


        </ul>

        <!-- paginators -->
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [showFirstLastIcon]="false"
          [totalRecords]="Orders?.length"></p-paginator>
      </div>
    </div>
  </div>
</section>