@import "../../../app/shared/components/global-style/_general";
@import"../../../styles.scss";
.order{
    border: 1px solid $border_co;
    border-radius: 5px;
    margin: 1rem;
    .orderNum{
        background-color: #D9D9D9;
        padding: 5px;
      
    }
    .btnfeed {
        @include flex(row, flex-end, stretch, 1rem, nowrap);
        padding: 1rem;
        margin: 1rem;
       
      }
  .items{
    @include flex(row, flex-start, flex-start, 3rem, nowrap);
    margin: 1rem;
    border-bottom: 1px solid $border_co;
    padding: .5rem;
    img {
        width: 108px;
        height: 161px;
        border: 1px solid $border-co;
        border-radius: 10px;
      }
      .col{
        @include flex(column, flex-start,flex-start,.2rem, nowrap);
      }
      .price{
        color: $main-co;
        font-weight: 700;
      }
    .footerBtn{
        @include flex(column, flex-start,flex-start,.2rem, wrap);
    }
  }

.row3{
    @include flex(row, space-between, flex-start, 3rem, nowrap);
    padding: .5rem;
    .sec1{
      .orderStatus{
      @include flex(row, flex-start, flex-start, 1rem, nowrap);
      
    }
    .ShippingCost{
        border-bottom: 1px solid $border_co;
        padding-bottom: .5rem;
      }
    .total{
      color: red;
    }
    }
    
}
.footer{
  padding: 1rem;
}
}
.btn-Pending1 {
  width: 6rem;
  padding: 5px;
  color: #f6a300;
  font-size: 13px;
  //font-family: Roboto;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  background-color: rgba(246, 163, 0, 0.16);
  border-radius: 12px;
  border: 1px solid #f6a300;
  text-align: center;
  
 
}
.btn-Delivery1 {
  width: 6rem;
  padding: 5px;
  color: #0f60ff;
  font-size: 13px;
//  font-family: Roboto;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  background-color: rgba(15, 96, 255, 0.16);
  border-radius: 12px;
  border: 1px solid #0f60ff;
  white-space: nowrap;
  
}
.btn-Arriving1{
  width: 6rem;
  padding: 5px;
  color: #bd00ff;
  font-size: 13px;
//  font-family: Roboto;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  background-color: rgba(189, 0, 255, 0.16);
  border-radius: 12px;
  border: 1px solid #bd00ff;
 
}
.btn-Canceled1 {
  width: 6rem;
  padding:5px;
  color: #fa4040;
  font-size: 13px;
//  font-family: Roboto;
  font-weight: 500;
  line-height: 14px;
  word-wrap: break-word;
  background-color: rgba(250, 64, 64, 0.16);
  border-radius: 12px;
  border: 1px solid #fa4040;
 
}