<div class="logindialog" *ngIf="showMe">
  <div class="close">
    <div class="back"><i class="bi bi-chevron-left" (click)="BackBtn()"></i>{{'Back'|translate}}</div>
    <div><i class="bi bi-x-lg" (click)="closelogin()"></i></div>
  </div>
  <section class="loginsec">
    <!-- <form [formGroup]="verifyForm" (ngSubmit)="onSubmit()"> -->
      <div class="text-center mt-5">
        <h5>{{'verifyYourPassword'|translate}}</h5>

        <img src="../../../assets/images/svg/verfiypassword.png" class="text-center" />
        <p>
          {{'pleaseEnterTheFourDigitCode'|translate}}
        </p>
      </div>
      <div class="text-center mt-5">
        <input type="text"  size="2" #txt1  maxlength="1" (keyup)="move($event, '',txt1, txt2)" (paste)="handlePaste($event, 0)" [(ngModel)]="code[0]" [ngClass]="{ 'active':code[0]!=''}"/>
        <input type="text"  size="2" #txt2 maxlength="1" (keyup)="move($event,txt1,txt2, txt3)" (paste)="handlePaste($event, 1)" [(ngModel)]="code[1]" [ngClass]="{ 'active':code[1]!=''}"/>
        <input type="text"  size="2" #txt3 maxlength="1" (keyup)="move($event,txt2,txt3, txt4)" (paste)="handlePaste($event, 2)" [(ngModel)]="code[2]" [ngClass]="{ 'active':code[2]!=''}"/>
        <input type="text"  size="2" #txt4 maxlength="1" (keyup)="move($event,txt3,txt4, txt5)" (paste)="handlePaste($event, 3)" [(ngModel)]="code[3]" [ngClass]="{ 'active':code[3]!=''}"/>
        <input type="text"  size="2" #txt5 maxlength="1" (keyup)="move($event,txt4,txt5, txt6)" (paste)="handlePaste($event, 4)" [(ngModel)]="code[4]" [ngClass]="{ 'active':code[4]!=''}"/>
        <input type="text"  size="2" #txt6 maxlength="1" (keyup)="move($event,txt5,txt6, '')"   (paste)="handlePaste($event, 5)" [(ngModel)]="code[5]" [ngClass]="{ 'active':code[5]!=''}"/>
      
      </div>
      <div class="text-center mt-4">
        <div> <a style="color: #2B2B8D;" (click)="ResendCode()">{{'resendCode'|translate}}</a></div>
        <!-- <button class="btn-orangeLarge mt-4" [disabled]="verifyForm.invalid" type="submit" style="margin-bottom :50px;" (click)="onSubmit()">
          {{'SIGNIN'|translate}}
        </button> -->
        <button class="btn-orangeLarge mt-4"  type="submit" style="margin-bottom :50px;" (click)="onSubmit()">
          {{'SIGNIN'|translate}}
        </button>
      </div>
    <!-- </form> -->
  </section>
  <p-toast></p-toast>
</div>
