<div class="main">
<!-- <div class="sec1">
   
         <div  appButtons class="btnt"
         id={{cat.id}}
         (selectedId)="handleSelectedId($event)"
         [appCustomDirective]="'.btnt'" *ngFor="let cat of Parentcats" >{{cat.name}}</div>
  
    </div> -->
<div class="sec2">
     @for (cat of Parentcats; track cat.id){
        <div class="imgColumn">
         <img src="{{cat.image}}" alt="{{cat.name}}" routerLink="/AllProduct/{{cat.id}}/0" >
         <div>{{cat.name.substring(0, 20)}} <span *ngIf="cat.name?.length > 20">... </span></div>
        
        </div>
    }
</div>
</div>

