@import "../../../app/shared/components/global-style/_general";
.strength {
  .strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    vertical-align: 2px;
  }

  // .point:last-of-type {
  //   margin: 0 !important;
  // }

  .point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 62px;
    margin: 5px 20px 3px 3px;
  }

  p {
    font-size: 14px;
    //font-family: Mulish;
    font-weight: 400;
    // margin: 5px;
  }
}
