@import "../../../app/shared/components/global-style/_general";
@import "../../../app/shared/components/global-style/_sekleton.scss";
.categoryMain{
.imgCatCon{
    @include flex(row, center, center, 1rem, wrap);
    width: 100%;
.imgCat{
    width: 32%;
    
    img{
        width: 100%;height: 135px;
    }
}
}
}
@media (min-width: 320px) and (max-width: 426px){
.categoryMain{
.imgCatCon{
    @include flex(row, center, center, 1rem, wrap);
    width: 100%;
.imgCat{
    width:100%;
    
    img{
        width: 100%;height: 135px;
    }
}
}
}}

@media (min-width: 427px) and (max-width: 768px){
.categoryMain{
.imgCatCon{
    @include flex(row, center, center, 1rem, wrap);
    width: 100%;
.imgCat{
    width: 48%;
    
    img{
        width: 100%;height: 135px;
    }
}
}
}}